<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="input-container">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-container">
        <%= form.label :password %><br />
        <%= form.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="input-container">
            <%= form.check_box :remember_me %>
            <%= form.label :remember_me %>
        </div>
    <% end -%>
    
    <div class="input-container">
        <%= form.submit "Log In", class: "btn" %>
    </div>
<% end %>

<div class="form-links">
    <%= render "devise/shared/links" %>
</div>