<%= form_for @post do |form| %>
    <div class="input-container">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="input-container">
        <%= form.label :content %><br>
        <%= form.text_area :content %>
    </div>
    
    <div class="input-container">
        <%= form.submit class: "btn" %>
    </div>
<% end %>