<section class="post">
    <div class="post-content">
        <h1 class="title"><%= @post.title %></h1>

        <div class="subtitle">
            <h3 class="date"><%= @post.created_at.strftime("%B %e, %Y ") %></h3>
            
            <% if current_user %>
                <div class="divider"></div>

                <div class="post-controls">
                    <%= link_to "Edit", edit_post_path(@post), class: "control" %>
                    <%= link_to "Delete", post_path(@post), class: "control delete", method: :delete, 
                                        data: {confirm: "Are you sure you want to delete this post?"} %>
                </div>
            <% end %>
        </div>

        <% if @post.image.exists? %>
            <div class="image-wrapper">
                <%= image_tag @post.image.url %>
            </div>
        <% end  %>

        <div class="content"> 
            <%= markdown @post.content %> 
        </div>

        <div class="share-post">
            <p>Share on </p>
            <a onclick="
                javascript:window.open('https://twitter.com/share?text=<%= @post.title %> by @juwanpetty — &amp;
                url=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');
                void(0);">
                Twitter
            </a>
            <a onclick="
                javascript:window.open('https://facebook.com/sharer.php?u=<%= url_for([@post, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');
                void(0);">
                Facebook
            </a>
        </div>
    </div>
</section>