<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Blog</title>

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="top-nav">
        <% if current_page?(@post) %>
            <%= link_to root_path do %>
                <i class="material-icons">arrow_back</i>Back
            <% end %>
        <% else %>
            <%= link_to "Simple Blog", root_path %>
        <% end %>

        <div>
            <% if user_signed_in? %> 
                <%= link_to 'New Post', new_post_path, class: "control" %>
                <div class="divider"></div>
                <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "control" %> 
            <% else %> 
                <p>Writer at night.</p>
            <% end %>
        </div>
    </div>

    <%= yield %>

    <nav>
        <div class="nav-links">
            <%= link_to "About", about_path %>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </nav>
  </body>
</html>
